<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%= server_url %>style.css ">
    <link rel="stylesheet" href="<%= server_url %>bootstrap.min5.css">
    <link rel="stylesheet" href="<%= server_url %>font-awesome.min.css ">
</head>
<body>
    <nav class="
    		navbar navBar navbar-expand
    		d-flex
    		flex-column
    		align-item-start
    	" id="sidebar">
        <!-- brand logo/icon -->
        <a href="#" class="navbar-brand text-light mt-5">
            <div class="display-5 font-weight-bold">
                Custom
            </div>
        </a>
        <!-- nav body -->
        <ul class="
    			navbar-nav
    			d-flex
    			flex-column
    			mt-5
    			w-100
    		">
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">
                    Home
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">
                    About
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">
                    Blog
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Service</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Service 01</a></li>
                    <li><a class="dropdown-item" href="#">Service 02</a></li>
                    <li><a class="dropdown-item" href="#">Service 03</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">More service</a></li>
                </ul>
            </li>
            <li class="nav-item w-100">
                <a href="#" class="nav-link text-light pl-4">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>