<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./includes/head.ejs') %> 
<body>
    <!-- include navbar -->
    <%- include('./includes/navbar.ejs') %> 

    <div class="container justify-content-center">
        <h1>About Us page</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum quae molestias cumque maiores accusantium, tempora vel culpa optio enim doloremque repudiandae laudantium hic debitis consectetur aspernatur voluptas molestiae harum est!
            Voluptatem, incidunt suscipit provident, ab ipsum exercitationem optio dolorum esse rem sequi sapiente? Repellendus ullam quia exercitationem. Voluptatum, doloremque iusto! Recusandae expedita necessitatibus, sapiente ullam delectus cumque repudiandae eum nihil.
            Enim sed iusto ex temporibus itaque corporis repudiandae repellat cum! Adipisci pariatur laudantium in aut cum laboriosam quibusdam reprehenderit perferendis. Maxime natus quis tempore a numquam ullam totam, incidunt esse.
            Sed dolorum dolorem quasi. Neque impedit illum, officiis labore iure voluptas cum pariatur ea nisi consectetur fugiat? Cum tempore incidunt rem suscipit delectus alias, iure quidem perferendis vero, quam sequi.
        </p>
    </div>
    
</body>
</html>