
<%- include('./includes/sidenav.ejs') %>

<%- include('./includes/navbar.ejs') %>
<!-- ==================NAv BAR===================== -->

<!-- =====================Side NavBar================ -->


<section class="p-4 container">
	<div class="my-container">
		<button
			class="btn my-4"
			id="menu-btn"
		>
			Toogle bar
		</button>
		<div>
			<h2
				class="text-center text-primary"
			>
				Dashboard
			</h2>
		</div>
		<div class="justify-content-center">
			<p>Welcome, is nice having you</p>
			<a
				type="button"
				value="log out"
				class="btn btn-success"
				href="<%= server_url %>logout "
				class="btn btn-success"
				>log out</a
			>
		</div>
	</div>
</section>



<%- include('./includes/tail.ejs') %>
