<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./includes/head.ejs') %> 
<body>
    <!-- include navbar -->
    <%- include('./includes/navbar.ejs') %> 
    <div class="container justify-content-center">
        <h1>This is the HomePage</h1>
    
        <p class>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint incidunt tempora omnis ut repellat ullam quaerat minima porro? Nobis distinctio repellendus, atque obcaecati voluptate cum neque! Vitae asperiores id nam?
        </p>
    </div>
</body>
</html>